<!DOCTYPE html>
<html>
<head>
    <title>DICOM Web Viewer - C-FIND</title>
</head>
<body>
    <h1>C-FIND</h1>
    <form id="find-form">
        <label for="find-host">Remote Host:</label>
        <input type="text" id="find-host" name="remote_host" required>
        <br>
        <label for="find-port">Remote Port:</label>
        <input type="number" id="find-port" name="remote_port" required>
        <br>
        <label for="find-patient-name">Patient Name:</label>
        <input type="text" id="find-patient-name" name="query[('0010','0010')][value]">
        <br>
        <label for="find-study-date">Study Date:</label>
        <input type="date" id="find-study-date" name="query[('0008','0020')][value]">
        <br>
        <button type="submit">Send C-FIND</button>
    </form>
    <a href="/">Back to Home</a>
    <script type="text/javascript">
        const findForm = document.querySelector('#find-form');
        if (findForm) {
            findForm.addEventListener('submit', async (event) => {
                event.preventDefault();
                const formData = new FormData(event.target);
                const result = await fetch('/api/find', {
                    method: 'POST',
                    body: formData,
                }).then(response => response.json());
                const resultTable = document.createElement('table');
                const headerRow = resultTable.insertRow();
                const studyDateHeader = headerRow.insertCell();
                studyDateHeader.innerText = 'Study Date';
                const patientNameHeader = headerRow.insertCell();
                patientNameHeader.innerText = 'Patient Name';
                for (const study of result) {
                    const row = resultTable.insertRow();
                    const studyDateCell = row.insertCell();
                    studyDateCell.innerText = study['(0008,0020)'].Value[0];
                    const patientNameCell = row.insertCell();
                    patientNameCell.innerText = study['(0010,0010)'].Value[0];
                }
                const resultContainer = document.querySelector('#result-container');
                resultContainer.innerHTML = '';
                resultContainer.appendChild(resultTable);
            });
        }

    </script>
</body>
</html>
